<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./my.css">
</head>
<body>
    <div id="app">
        <span v-if="this.books.length==0">购物车为空</span>
        <table v-else>
            <thead>
                <tr>
                    <th></th>
                    <th>书籍名称</th>
                    <th>出版日期</th>
                    <th>价格</th>
                    <th>购买数量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(book,index) in books">
                    <td>{{ book.id }}</td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.date }}</td>
                    <td>{{ getPrice(book.price) }}</td>
                    <td>
                        <button @click="substract(index)" v-bind:disabled="!book.count">-</button>
                        {{ book.count }}
                        <button @click="addcount(index)">+</button>
                    </td>
                    <td><button @click="deletebook(index)">移除</button></td>
                </tr>
            </tbody>
        </table>
    
        <p>总价：{{ gettotalMoney() }}</p>
    </div>
    <script src="../../../1.vue简介/my_vuejs/vue.js"></script>
    <script src="./index.js"></script>
    
</body>
</html>